* {
    user-select: none;
    padding: 0;
    margin: 0;
}

html, body {
    height:100%;
    overflow: hidden;
    color: white;
}
body {
    font-family: 'Cormorant Infant', serif;
    background: radial-gradient(ellipse at top,rgb(140, 108, 89),black);        
}

#main {
  /*background: url('assets/background2.jpg');*/
  /*background: linear-gradient(130deg, rgb(140, 108, 89),black);*/
  
  margin: 0;      
  height: 100%;
  width:  80%;
  overflow: hidden;
  padding: 50px;
  position: relative;      
  border: 0;
}

#score {
  background-color: white;
  width: 170px;
  border-radius: 15px;
  font-size: 150%;
  text-align: center;
  padding: 10px;
  opacity: 0.3;
  color:black;
  position: fixed;
  right: 50px;
  z-index: 100;
}

/*    .board {
  width: 100px;
  height: 80px;
  background: url('assets/miniboard2.png');  
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;    
  background-size: 100%;
  margin: 10px;
}

.brick {
  width: 40px;
  height: 40px;           
  margin: 10px;
}

.brick.red {
  background: url('assets/red.png');
  background-size: 100%;
}

.brick.blue {
  background: url('assets/blue.png');
  background-size: 100%;
}

.brick.white {
  background: url('assets/white.png');
  background-size: 100%;
}

.brick.brown {
  background: url('assets/brown.png');
  background-size: 100%;
}

.brick.yellow {
  background: url('assets/yellow.png');
  background-size: 100%;
}

.board span.playername {
  display: block;
  background-color: white;
  padding: 3px;
  border-radius: 15px;
  margin-top: -30px;
  text-align: center;
}

.board span.scores {
  
  background-color: white;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  opacity: 0.8;
  position: relative;
  bottom: -100px;
  left: 15px;
}

.red span.playername {background-color: lightcoral;}
.green span.playername {background-color: lightgreen;}
.blue span.playername {background-color: lightblue;}

#boards, #cards, #resources {      
  display: flex;
  padding: 15px;      
}

/*.card {
  width: 80px;
  height: 135px;
  background: url('assets/card.png');
  background-size: 100%;
  margin: 5px;
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}*/

.cards {
  width: 200px;
  margin: 5px;
  box-shadow: 8px 8px 14px -5px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 10px;
}
.cards:hover {
    box-shadow: 0 0 0 6px pink;
}

.selected_card {
    box-shadow: 0 0 0 10px lightgreen;
}


.myboard {
  width: 400px;
  height: 400px;
  background: url('assets/board.png');
  background-size: 100%;
}

#lobby {
  background: white;
  padding: 15px;      
  color: black;
  border-radius: 3px;
  text-align: center;
}

#lobby li {
  list-style: none;
  font-size: 120%;
  text-align: left;
  padding: 5px;      
}

#lobby button {
  border: 5px double rgb(7, 84, 162);
  background-color: rgb(15, 106, 180);
  color: white;
  font-size: 150%;
  width: 150px;
  border: 0;
  border-radius: 25px;
  margin: 5px;
}
