* {
    user-select: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

html, body {
    height:100%;
    overflow: hidden;
    color: white;
  
}
body {
    font-family: 'Cormorant Infant', serif;
    background: radial-gradient(ellipse at top,rgb(140, 108, 89),black);        
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

#main {
    /*width: 100%;
    height: 100%;
    background-image: url('/assets/bricks.png');
    background-size: 30%;
    background-position: bottom right;
    background-repeat: no-repeat;*/
  padding: 50px;
  position: relative;      
}

#score {
  /*background-color: white;
  width: 170px;
  border-radius: 15px;*/
  font-size: 150%;
  /*text-align: center;
  padding: 10px;
  opacity: 0.3;
  color:black;*/
  position: fixed;
  right: 50px;
  top:10px;
  z-index: 100;
}

#score button {
    border:0;
    background-color: white;

}

#bulidingRow {
    padding: 5px;
    opacity: 0.8;
    background: white;
    
    box-shadow: 4px 10px 10px -5px rgba(0, 0, 0, 0.6);
    transform: rotate(0.5deg);
}

#bulidingRow img {
    /*border-radius: 3px;*/
    width: 100px;
   /* box-shadow: 4px 10px 10px -5px rgba(0, 0, 0, 0.6);*/
    margin:3px;
}
.miniboard {
  width: 80px;
  height: 80px;
  /*background: url('assets/_draft/miniboard2.png');  
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.6);*/
  background-repeat: no-repeat;    
  background-size: 100%;
  margin: 10px;
  background-color: yellow;
}

.miniboard td {
    border: 1px solid lightgreen;
}

#resources {      
    display: flex;
    padding: 15px;      
}
  
.brick {
  width: 40px;
  height: 40px;           
  margin: 10px;
}

.brick.red {
  background: url('assets/red.png');
  background-size: 100%;
}

.brick.blue {
  background: url('assets/blue.png');
  background-size: 100%;
}

.brick.white {
  background: url('assets/white.png');
  background-size: 100%;
}

.brick.brown {
  background: url('assets/brown.png');
  background-size: 100%;
}

.brick.yellow {
  background: url('assets/yellow.png');
  background-size: 100%;
}

#playersList {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 10px;       
}

.playername {
  display: inline-block;
  color: black;
  padding: 3px 15px 3px 15px;
  margin-right: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: lightgreen;
}

span.scores {
  background-color: white;
  color:black;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  opacity: 0.8;
  position: relative;
}
/*
.red span.playername {background-color: lightcoral;}
.green span.playername {background-color: lightgreen;}
.blue span.playername {background-color: lightblue;}

#boards, #cards, #resources {      
  display: flex;
  padding: 15px;      
}

/*.card {
  width: 80px;
  height: 135px;
  background: url('assets/card.png');
  background-size: 100%;
  margin: 5px;
  box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}*/

/*#choose_monument {}*/
.cards {
  margin: 5px;
  box-shadow: 8px 8px 14px -5px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 10px;
  width: 150px;
}
.cards:hover {
    box-shadow: 0 0 0 6px pink;
}

#monument1 {
    transform: rotate(-1deg);
}
#monument2 {
    transform: rotate(2deg);
}

.selected_card {
    box-shadow: 0 0 0 10px lightgreen;
}


.myboard {
  width: 400px;
  height: 400px;
  background: url('assets/board.png');
  background-size: 100%;
}

#isReadyBtn {
  /*border: 5px double rgb(7, 84, 162);*/   
  background-color: orange;
  padding: 10px;
  color: white;
  font-size: 150%;
  width: 150px;
  border: 0;
  position: absolute;
  bottom: 50px;
  right: 50px;
  border-radius: 25px;
  margin: 5px;
}

#isReadyBtn:hover, #isReadyBtn:focus {
    background-color: red;
}
